*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}

h1{
    text-align: center;
    color: #FF2F63;
    margin: 20px 10px;
}

h3{
    margin: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap:wrap ;
    width: 650px;
    min-width: 550;
    height: 400px;
    gap: 2rem;
    /* border: 2px solid red; */
    background-color: #27496E;
    padding: 15px;
    border-radius: 1rem;
}

#grid img{
    width: 100px;
    height: 100px;

}

#confetti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: auto;
}

#play-again {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    z-index: 1001; /* Konfeti GIF'inin üstünde görünmesi için */
    cursor: pointer;
    color:#FF2F63;
    background-color: #27496E;
}